.navbar{

    background-color: #BA78CD;
    justify-content: space-between;
    overflow-x: hidden;
    
    
}

.logo{

    height: 40%;
    width:40%;
}

.footer{
    background-color: #BA78CD;

    justify-content:space-around;
    text-align:center;
    overflow-x: hidden;
    height:min-content;
}

.logo-footer img{
    height: 100px;
    width:100px;
    
}
.fa-brands{
    height:30px;
    width: 30px;
    justify-content: space-around;
   
}
