.fondo{
    background-color: rgba(211, 180, 240, 0.842);
   
}

/* para redondear foto */
.img-foto{
    width: 100%;
    height: 100%;
    border-radius: 50%
    

}


.contenedor-img{
    width:200px;
    height: 200px;
    
}

